@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Metal+Mania&family=Sail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Fira+Code:wght@700&family=Metal+Mania&family=Sail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Ewert&family=Fira+Code:wght@700&family=Metal+Mania&family=Sail&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/img/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
.confirm,
.cancel {
  color: white;
  cursor: pointer;
}
.confirm {
  background-color: rgb(4, 131, 4) !important;
}
.cancel {
  background-color: rgb(110, 106, 48) !important;
}
.delete {
  background-color: rgb(128, 0, 0) !important ;
  color: white;
}
.big-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}
.controling {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 1%;
  border-bottom: 5px orange solid;
  flex-wrap: wrap;
}

.search {
  padding: 1%;
}
.logo,
.signature {
  align-items: center;
  flex-shrink: 2;
  font-family: "Ewert", cursive;
  font-size: 2rem;
  height: 40px;
  line-height: 40px;
}
.signature {
  font-size: 1.2rem;
  color: rgb(82, 87, 9);
  font-family: "Sail", cursive;
}
.students-list,
.students-head {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form,
.head-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5%;
}
.head-form {
  justify-content: flex-start;
}

.head,
.id,
.firstName,
.lastName,
.capsule,
.age,
.gender,
.city,
.hobby,
.category {
  width: 11.4%;
  padding: 0.8% 0.5%;
  background-color: rgb(58, 60, 61);
  color: rgb(252, 236, 236);
  border: none;
  font-size: 100%;
}

.category {
  width: 15%;
  background-color: rgb(58, 60, 61);
  font-weight: bold;
  color: orange;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn,
.remove-btn {
  width: 7%;
  background-color: rgb(16, 179, 43);
  border: none;
  cursor: pointer;
  font-size: 100%;
  border-radius: 5px;
  color: white;
}
.edit-btn:hover,
.remove-btn:hover {
  color: gold;
}
.remove-btn {
  background-color: rgb(189, 33, 33);
}

.head {
  background-color: rgb(58, 60, 61);
  color: orange;
  cursor: pointer;
  position: relative;
  margin-right: 0.1%;
  width: 11.45%;
}
.head:hover {
  color: white;
}
.id {
  flex-shrink: 1;
  width: 5%;
}
input:disabled {
  color: rgb(252, 236, 236);
}

i {
  position: absolute;
  left: 80%;
  color: white;
}
i:hover {
  color: gold;
}
.id i {
  position: absolute;
  left: 60%;
}
