@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controling {
  display: flex;
  justify-content: space-between;
  width: 50%;
  /* background-color: rgb(170, 89, 89); */
  padding: 1%;
}
.restart,
.category {
  width: 20%;
}
.restart {
  background-color: rgb(58, 60, 61);
  color: rgb(252, 236, 236);
  font-weight: bold;
  color: gold;
}
.search {
  padding: 1%;
}
.logo {
  align-items: center;
  font-family: "Metal Mania", cursive;
  font-size: 2rem;
}
.students-list,
.students-head {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form,
.control-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5%;
  /* background-color: rgb(223, 142, 142); */
  /* color: white; */
}

.head,
.id,
.firstName,
.lastName,
.capsule,
.age,
.gender,
.city,
.hobby {
  width: 120px;
  padding: 0.4%;
  background-color: rgb(58, 60, 61);
  color: rgb(252, 236, 236);
  border: none;
}
.edit-btn,
.remove-btn {
  width: 80px;
  background-color: rgb(255, 180, 40);
  border-radius: 5px;
  border: none;
}

.id {
  width: 50px;
}
input:disabled {
  color: rgb(252, 236, 236);
}
.head {
  background-color: rgb(58, 60, 61);
  color: orange;
  cursor: pointer;
}
.head i {
  color: white;
}
.btn-head {
  visibility: hidden;
}
